
<h1>login</h1>
<div class="container">
<div class="jumbotron">
  <form class="" action="/users/login" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

    <label for="email">Email</label>
    <input id="email" name="email" type="text">

    <label for="password">Password</label>
    <input id="password" name="password" type="password">

    <button type="submit" name="button">Log In</button>
  </form>

  <a href="/register">New User?</a>
</div>
</div>
